body {
  margin: 0 20% 0 20%;
}

header {
  text-align: center;
}

.border {
  border-bottom: 2px dotted black;
}

.center {
  text-align: center;
}

h1 {
  color: #577590;
}

h3 {
  font-style: bold;
  text-decoration: underline;
}

h4 {
  font-style: italic;
  color: grey;
}

footer {
  font-size: 11px;
  border-bottom: 3px groove;
}
